@charset "UTF-8";

@font-face {
    font-family: 'open sans';
    src: url("fonts/OpenSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

body{
    font-family: 'open sans', sans-serif;
    background-color: #40d882;
}

header{
    background-image: linear-gradient(180deg ,#39cb79, #1A5C38);
    color: white;
}

main,footer{
    background-color: white;
    width: 800px;
    margin: auto;
    box-shadow:  1px 1px 5px 3px rgba(0, 0, 0, 0.377);
}

#titulos-principal{
    font-size: 35px;
}

#cabecalho{
    font-weight: 800;
    color: white;
    padding-bottom: 10px;
    font-size: 40px;
}

.lista{
    list-style-type: square;
    padding-left: 45px;
}

h1{
    color: #387051;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}

a{
    text-decoration: none;
    color: white;

}

ul{
    text-decoration: none;
}

p{
    text-align: justify;
    width: 750px;
    margin: auto;
}

p,a,h1,li,ol{
    margin-bottom: 10px;
}

header > p{
    text-align: center;
    font-size: 10px;
    font-weight: 100;
}

header >  section > a{
    font-size: 20px;
    font-weight: 700;
    padding-right: 10px;
}

a:hover{
    text-decoration: underline;
}

footer > section > h1{
    background-color: #2fa866;
    width: 600px;
    margin: auto;
    margin-bottom: 10px;
    text-align: center;
    color: white;
    border-radius: 5px 5px 0 0;  
}









